{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Hotel
{% endblock %}

{% block content %}
	<main>
		
		<section class="hero_in hotels">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Galaxy hotels </h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->
		
		<div class="filters_listing sticky_horizontal">
			<div class="container">
				<ul class="clearfix">
					<li>
						<div class="switch-field">
							<input type="radio" id="all" name="listing_filter" value="all" checked data-filter="*" class="selected">
							<label for="all">All</label>
						</div>
					</li>
					
				</ul> 
			</div>
			<!-- /container -->
		</div>
		<!-- /filters -->
		
		<!-- <div class="collapse" id="collapseMap">
			<div id="map" class="map"></div>
		</div> -->
		<!-- End Map -->

		<div class="container margin_60_35">
			<div class="row">
				<aside class="col-lg-3">
					<div class="custom-search-input-2 inner-2">
						<form action="{% url 'frontend:filter_search' %}"  class="search-form">
						 <div class="form-group">
							<input type="text" name="f" id="search" class="form-control" placeholder="Search based on price">
						</div> 
					

							<input type="submit" class="btn_search" value="Filter">
							
						</form>

						<!--/collapse -->
					</div>
					<!--/filters col-->
				</aside>
				<!-- /aside -->
				
					
				
				<div class="col-lg-9">
					<div class="isotope-wrapper">
						<div class="row">
							{% if person_page_obj %}
								{% for a in person_page_obj %}
										<div class="col-md-6 isotope-item popular">
											<div class="box_grid" style="height: 700px;">
												<figure>
													<a href="{% url 'frontend:hotel_detail' a.id %}" ></a>
													<a href="{% url 'frontend:hotel_detail' a.id %}"><img src="{{ a.post_img }}" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
												</figure>
												<div class="wrapper">
													<div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
													<h3><a href="{% url 'frontend:hotel_detail' a.id %}">{{ a.pst_title }}</a></h3>
													<p>{{ a.content|truncatewords:20 }}</p>
													<span class="price">From <strong>N{{ a.price }}</strong> /per person</span>
												</div>
												<ul>
													<li><i class="ti-eye"></i> 164 views</li>
													<li><div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div></li>
													<li><p>Posted By Agent:{{ a.user.first_name }}</li>
													{% for c in a.cat_id.all %}
														<li><a href="{% url 'frontend:post_from_cat' c.id %}">{{ c.cat_name }}</a></p></li>
													{% endfor %}
														<li><p>Time:{{a.date|date:'H:ma' }}</p></li>
												</ul>
											</div>
										</div>
									
									<!-- /box_grid -->
									
									<!-- /box_grid -->
								{% endfor %}
							{% endif %}
						</div>
						<!-- /row -->
					</div>
				</div>
				<!-- /isotope-wrapper -->
			
				
				
				<div>
					<nav aria-label="...">
						<ul class="pagination pagination-sm">
							{% if person_page_obj.has_previous %}
								<li>
									<a class="page-link" href="?page=1">&laquo; First</a>
									<a class="page-link" href="?page={{ person_page_obj.previous_page_number }}"> Previous</a>
								</li>
							{% endif %}

							<span class="current">
								Page {{ person_page_obj.number}} of {{person_page_obj.paginator.num_pages}}.
							</span>
							
							{% if person_page_obj.has_next %}
								<li >
									<a class="page-link" href="?page={{ person_page_obj.next_page_number }}">Next</a>
									<a class="page-link" href="?page={{ person_page_obj.paginator.num_pages }}">&laquo; Last</a>
								</li>
							{% endif %}
						</ul>
					</nav>
					<!-- /pagination -->
			
				<!-- /col -->
			</div>		
		</div>
		<!-- /container -->
		
		<div class="bg_color_1">
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-md-4">
						<a href="#0" class="boxed_list">
							<i class="pe-7s-help2"></i>
							<h4>Need Help? Contact us</h4>
							<p>Cum appareat maiestatis interpretaris et, et sit.</p>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#0" class="boxed_list">
							<i class="pe-7s-wallet"></i>
							<h4>Payments</h4>
							<p>Qui ea nemore eruditi, magna prima possit eu mei.</p>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#0" class="boxed_list">
							<i class="pe-7s-note2"></i>
							<h4>Cancel Policy</h4>
							<p>Hinc vituperata sed ut, pro laudem nonumes ex.</p>
						</a>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
		
	</main>
	<!--/main-->

	{% endblock %}
	